:root {
    --primaryColor: #2e3542;
    --secondaryColor: #2cc3d5;
    --bgMenuActive: #2cc3d5;
    --bgButton: #2cc3d5;
    --logoImageUrl: url('https://imgur.com/a/5OiPZn4');
    --bgAside: var(--primaryColor);
}
